* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    outline: 1px solid white;
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --darkreader-border: rgb(56, 61, 63);
    --cells-rotate: 0deg;
}

body {
    font-family: Roboto;
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    user-select: none;
}
html,
body {
  height: 100%;
}
header {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;   
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:space-evenly;
    gap:10px;
}

footer {
    text-align: center;
    padding: 10px;
}


.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'player-x player-o';
    text-align: center;
}

.player-o {
    grid-area: player-o;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.player-o-name {
    font-size: 3rem;
    font-weight: bold;
    color: var(--darkreader-neutral-background)
}

.player-o-score {
    font-size: 2rem;
    font-weight: bold;
}

.player-x {
    grid-area: player-x;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.player-x-name {
    font-size: 3rem;
    font-weight: bold;
    color: var(--darkreader-neutral-background);
}

.player-x-score {
    font-size: 2rem;
    font-weight: bold;
}
.announcement {
    position: fixed;
    left: 50%;
    top: calc(50%*100vh);
    transform: translate(-50%, 0);
    font-size: 5rem;
    color: var(--darkreader-neutral-background)
}

.tictactoe-container {
    width: clamp(200px, 80vw ,500px);
    align-self: center;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.tictactoe-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transition:2s;
    color: var(--darkreader-neutral-background);
    rotate: var(--cells-rotate)
}

.tictactoe-container > div:nth-child(3n),
.tictactoe-container > div:nth-child(3n-1) {
    border-left: 4px solid var(--darkreader-border);
}

.tictactoe-container > div:nth-child(n + 4) {
    border-top: 4px solid var(--darkreader-border)
}

.blur {
    filter: blur(5px);
}

.settings {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "player-x-setting player-o-setting";
    text-align: center;
}

.player-x-setting {
    grid-area: player-x-setting;
}

.player-o-setting {
    grid-area: player-o-setting;
}