* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

body {
    font-family: Roboto;
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;    
}

main {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:10px;
}

footer {
    text-align: center;
    padding: 10px;
}


.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'player-x player-o';
    text-align: center;
}

.player-o {
    grid-area: player-o;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.player-o-name {
    font-size: 3rem;
    font-weight: bold;
}

.player-o-score {
    font-size: 2rem;
    font-weight: bold;
}

.player-x {
    grid-area: player-x;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.player-x-name {
    font-size: 3rem;
    font-weight: bold;
}

.player-x-score {
    font-size: 2rem;
    font-weight: bold;
}
.announcement {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    font-size: 5rem;
}

.tictactoe-container {
    width: clamp(200px, 80vw ,500px);
    align-self: center;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.tictactoe-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    outline: var(--darkreader-selection-background) 1px solid;
    transition:2s;
}

/* .hide {
    display: none;
} */

.blur {
    filter: blur(1.5rem);
}